In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlite3

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///"+"hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
inspector = inspect(engine)
# reflect the tables
inspector.get_table_names()

['measurement', 'station']

In [6]:
# View all of the classes that automap found
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [9]:
# Use Inspector to print the column names and types frpm measurement table
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [10]:
# Use Inspector to print the column names and types frpm measurement table
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Precipitation Analysis

In [11]:
# Find the most recent date in the data set.
recent_date = max(session.query(Measurement.date))
print(recent_date)

('2017-08-23',)

In [12]:
import datetime

# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

end_Date = recent_date[0]

# Calculate the date one year from the last date in data set.
start_Date = str(datetime.datetime.strptime(end_Date, '%Y-%m-%d').date() - datetime.timedelta(days=365))

# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).\
            filter(Measurement.date>=start_Date, Measurement.date<=end_Date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
data_dict = {
            'ids': [result[0] for result in results],
            'station': [result[1] for result in results],
            'prcp': [result[3] for result in results],
            'tobs': [result[4] for result in results]
}

date = [result[2] for result in results]

data_df = pd.DataFrame(data_dict, index=date)


# Sort the dataframe by date
data_df = data_df.sort_index()
data_df.head(10)


# Use Pandas Plotting with Matplotlib to plot the data

              ids      station  prcp  tobs
2016-08-23   2364  USC00519397  0.00  81.0
2016-08-23   8825  USC00517948   NaN  80.0
2016-08-23  14608  USC00519281  1.79  77.0
2016-08-23   7331  USC00514830  0.05  80.0
2016-08-23   5091  USC00513117  0.15  76.0
2016-08-23  19202  USC00516128  0.70  74.0
2016-08-23  11851  USC00519523  0.02  80.0
2016-08-24   2365  USC00519397  0.08  79.0
2016-08-24  14609  USC00519281  2.15  77.0
2016-08-24   7332  USC00514830  2.28  80.0

In [13]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [14]:
# Design a query to calculate the total number stations in the dataset

In [15]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [16]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [17]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [18]:
# Close Session
session.close()