# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
df['month'] = pd.DatetimeIndex(df['date']).month
df.head()

       station       date  prcp  tobs  month
0  USC00519397 2010-01-01  0.08    65      1
1  USC00519397 2010-01-02  0.00    63      1
2  USC00519397 2010-01-03  0.00    74      1
3  USC00519397 2010-01-04  0.00    76      1
4  USC00519397 2010-01-06   NaN    73      1

In [5]:
# Set the date column as the DataFrame index and Drop the date column
df = df.set_index(['date'])
df.head()

                station  prcp  tobs  month
date
2010-01-01  USC00519397  0.08    65      1
2010-01-02  USC00519397  0.00    63      1
2010-01-03  USC00519397  0.00    74      1
2010-01-04  USC00519397  0.00    76      1
2010-01-06  USC00519397   NaN    73      1

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
df_june = df[df['month']==6]
df_dec = df[df['month']==12]

In [8]:
# Identify the average temperature for June
avg_temp_june = df_june['tobs'].mean()
avg_temp_june

74.94411764705882

In [9]:
# Identify the average temperature for December
avg_temp_dec = df_dec['tobs'].mean()
avg_temp_dec

71.04152933421226

In [10]:
print("Number of rows in June data",len(df_june))
print("Number of rows in Dec data",len(df_dec))

Number of rows in June data 1700
Number of rows in Dec data 1517

In [11]:
# Create collections of temperature data
june_temp = df_june['tobs'].sample(1000)  
dec_temp = df_dec['tobs'].sample(1000)

In [12]:
# Run paired t-test
stats.ttest_rel(june_temp,dec_temp)

Ttest_relResult(statistic=24.999383305019837, pvalue=1.6146492786776046e-107)

### Analysis

1. As the p-value (1.6146492786776046e-107) of paired t-test is lower than 0.05, we can say the result is statistically significant and there is difference between the mean of temp of month June and Dec

2. We used paired sample t-test because the temperarure in the month of June and December are dependent. Paired sample t-test is also called dependent sample t-test.